<div class="forgotpassword_container">
    <mat-toolbar>
        <button mat-icon-button class="book-icon" aria-label="Example icon-button with menu icon">
                <img src="../../../assets/images/booklogo.png" alt="">
            </button>
        <span class="text">Raj Bookstore</span>
    </mat-toolbar>
    <div class="form_layout" fxLayout="column" fxLayoutAlign="center center">
        <h2>Forgot your Password?</h2>
        <div class="form_container">
            <form [formGroup]="forgotPassForm" (ngSubmit)="onSubmit()" class="form">
                <p class="emailinfo">Enter your email address and we'll send you a link to reset your password.</p>
                <div fxLayout="column">
                    <mat-label style="font-size: 12px;">Email Id</mat-label>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="emailId" placeholder="">
                        <mat-error *ngIf="submitted && forgotPassForm.get('emailId')?.hasError('required')">Enter Email</mat-error>
                        <mat-error *ngIf="submitted && forgotPassForm.get('emailId')?.errors?.['pattern']">Enter Valid Email</mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <button class="signupbutton" (click)="onSubmit()" mat-flat-button>Next</button>
                </div>
                <div>
                    <button class="googlebutton" mat-flat-button routerLink="/register">Create Account</button>
                </div>
            </form>
        </div>
    </div>
</div>